.site-header {
  .contact-me {
	font-size: 0.95rem;
	font-weight: bold;
  }
}

.site-body-left-column {
  .contact-me {
	font-size: 0.95rem;
	font-weight: bold;
	position: absolute;
	bottom: 5px;
	right: 5px;
  }
}
